<html>

<head>
    <title>Invitation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/core.css">
</head>

<body>
    <input type="text" id="psid" hidden />
    <input type="text" id="partyId" value="<%= content.party._id %>" hidden />
    <div class="loading flexed v-center full-height">
        <i class="weui-loading"></i>
    </div>
    <div class="flexed v-center full-height hidden already-prompt">
        <div class="inner text-centered">
            <h2>You are already in the <%= content.party.name %>!</h2>
            <div class="weui-btn-area">
                <button class="weui-btn weui-btn_default" id="close">Return</button>
            </div>
        </div>
    </div>
    <div class="container flexed v-center full-height hidden">
        <div class="inner">
            <p class="text-centered">You are invited to...</p>
            <h2 class="text-centered">The <span id="partyName"><%= content.party.name %></span> Party!</h2>
            <div class="create_by mb-25"><img src="<%= content.owner.profile %>" class="img-profile" />
                <p class="text-muted"><%= content.owner.name %></p>
            </div>
            <h4>The Details:</h4>
            <ul>
                <li>Location: <%= content.party.location %></li>
                <li>Date: <%= content.party.date %></li>
                <li>Budget: $<%= content.party.budget %></li>
            </ul>
            <h4>Please Note:</h4>
            <p><%= content.party.note %></p>
            <h4>Who's in:</h4>
            <ul class="participants-list mb-25">
                <% content.participants.forEach(function(hottie) { %>
                    <li id="<%= hottie.psid%>"><img src="<%= hottie.profile%>" class="img-profile" />
                        <p class="text-muted"><%= hottie.name%></p></li>
                <% }); %>
            </ul>
            <div class="weui-btn-area">
                <button class="weui-btn weui-btn_primary" id="acceptInvitation">Accept Invitation!</button>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));

        window.extAsyncInit = () => {
            MessengerExtensions.askPermission(
                function (permission_response) {
                    // Person grants or rejects the asked permission.
                    let permissions = permission_response.permissions; // list of all permissions granted
                    let isGranted = permission_response.isGranted;
                    if (isGranted) {
                        console.log('Permission granted')
                        MessengerExtensions.getContext('1962533450482760',
                        function success(thread_context) {
                            var alreadyIn = false;
                            $('.participants-list li').each((i,ele) => {
                                if ($(ele).attr('id') === thread_context.psid) {
                                    $('.loading').fadeOut('fast', () => {
                                        $('.already-prompt').removeClass('hidden');
                                    })
                                    alreadyIn = true
                                }
                            });
                            if (!alreadyIn) {
                                $('.loading').fadeOut('fast', () => {
                                    $('.container').removeClass('hidden');
                                })
                            }
                            document.getElementById("psid").value = thread_context.psid;

                        },
                        function error(err) {
                            // error
                            console.log(err);
                        }
                    );
                    }
                },
                function (errorCode, errorMessage) {
                    console.log(errorCode)
                },
                "user_profile"
            );
            document.getElementById('acceptInvitation').addEventListener('click', () => {
                const content = {
                    psid: $('#psid').val(),
                    party_id: $('#partyId').val()
                }
                $.ajax('/invitationpostback', {
                    contentType: 'application/json',
                    data: content,
                    type: 'GET'
                });
                MessengerExtensions.requestCloseBrowser(function success() {
                    console.log("Webview closing");
                }, function error(err) {
                    console.log(err);
                });
            });
        };
    </script>
</body>

</html>